{% if site.github %}
	<div class="rounded_panel txt_lightgrey">
		<div class="top-rounded-panel grey-bg">
			<h1>My Projects</h1>
		</div>
			<div>
        <li><a href="https://github.com/ponty33/tweeter">Tweeter</a></li>
        <p>Tweeter is a simple, single-page Twitter clone.</p>
        <li><a href="https://github.com/ponty33/tinyApp">TinyApp</a></li>
        <p>TinyApp is a web application built with Node and Express that allows users to shorten long URLs.</p>
				
			</div>
	</div>
{% endif %}
