{% if site.github %}
	<div class="rounded_panel txt_lightgrey">
		<div class="top-rounded-panel grey-bg">
			<h1>Projects</h1>
		</div>
        <div>
          <a href="https://github.com/ponty33/Teppen_Bridge">Teppen Bridge</a>
          <p>Oct 2018, Still in progress</p>
          <p>Teppen Bridge is a website provides communication funnel for parents and teachers. Also assisting school managing teachers</p>
          <div>
            <span class="label label-info label-padded"> React</span>
            <span class="label label-info label-padded"> Rails</span>
            <span class="label label-info label-padded"> postgreSQL</span>
          </div>
        </div>
        <br>  
        <div>
        <a href="https://github.com/ponty33/Chatty">Chatty</a>
        <p>Oct 2018</p>
        <p>Chatty is a single page app allow users to communicate with each other without having to register accounts.</p>
        <div>
          <span class="label label-info label-padded"> NodeJS</span>
          <span class="label label-info label-padded"> React</span>
          <span class="label label-info label-padded"> ReactDOM</span>
          <span class="label label-info label-padded"> WebSocket</span>
          <span class="label label-info label-padded"> babel</span>
        </div>
        <br>
        <a href="https://github.com/ponty33/midterm_project">Angie & Frank's Pizza Place</a>
        <p>Sep 2018</p>
        <p>A restaurant webpage with ordering system, and allow owner to notify clients with SMS</p>
        <div>
          <span class="label label-info label-padded"> NodeJS</span>
          <span class="label label-info label-padded"> Express</span>
          <span class="label label-info label-padded"> Knex</span>
          <span class="label label-info label-padded"> postgreSQL</span>
          <span class="label label-info label-padded"> EJS</span>
        </div>
        <br>
        <a href="https://github.com/ponty33/tweeter">Tweeter</a>
        <p>Sep 2018</p>
        <p>Tweeter is a simple, single-page Twitter clone.</p>
        <div>
          <span class="label label-info label-padded"> NodeJS</span>
          <span class="label label-info label-padded"> Express</span>
          <span class="label label-info label-padded"> MongoDB</span>
        </div>
        <br>
        <a href="https://github.com/ponty33/tinyApp">TinyApp</a>
        <p>Sep 2018</p>
        <p>TinyApp is a web application built with Node and Express that allows users to shorten long URLs.</p>
        <div>
            <span class="label label-info label-padded"> Express</span>
            <span class="label label-info label-padded"> EJS</span>
            <span class="label label-info label-padded"> bcrypt</span>
        </div>
			</div>
	</div>
{% endif %}
