<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
    <h1 id="user-intro">Frank Chung</h1>
    <a href="ponty33@gmail.com">ponty33@gmail.com</a>
    <p id="contact">
      Phone: 604-616-6296<br>
      Vancouver, BC<br>
    </p>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
      <p id="summary">
        A junior web developer. 
        Passionate about problem solving and statistical analysis. 
        Enjoys learning new technologies and knowledge.
        Strong team player with work experience abroad.
      </p>		
		</div>
		<br>
	</div>
</div>
