<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
    <h1 id="user-intro">Frank Chung</h1>
    <img id="photo" src="https://raw.githubusercontent.com/ponty33/ponty33.github.io/master/img/thumb_photo.jpg"><br>
    
    <p id="contact">
      <a href="ponty33@gmail.com">ponty33@gmail.com</a>
      <a href="https://github.com/ponty33">Github</a>
      <a href="www.linkedin.com/in/frank-chung-952b1b77">LinkedIn</a>
      Phone: 604-616-6296<br>
      Vancouver, BC<br>
    </p>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
      <p id="summary">
        A junior web developer. 
        Passionate about problem solving and statistical analysis. Enjoys learning new technologies.
        Multi-year work experience in Japan. Adapting to new environments and different culture.
        Strong team player. Fluent in 3 languages: English, Mandarin and Japanese. 
      </p>		
		</div>
		<br>
	</div>
</div>
