<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
    <h1 id="user-intro">Frank Chung</h1>
    <img src="https://raw.githubusercontent.com/ponty33/ponty33.github.io/master/img/thumb_photo.jpg"><br>
    <p>E-mail: ponty33@gmail.com</p>
    <p id="contact">
      Phone: 604-616-6296<br>
      Vancouver, BC<br>
    </p>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
      <p id="summary">
        A junior web developer. 
        Passionate about problem solving and statistical analysis. 
        Enjoys learning new technologies.
        Strong team player with work experience abroad. Fluent in 3 languages: English, Mandarin and Japanese. 
      </p>		
		</div>
		<br>
	</div>
</div>
